/* Jovann Classes -------------------------------------------*/
.homePgBg {
  width: auto;
  height: 730px;
  background-image: url("/Assets/CarbackgroundChoice1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.StartPgBg {
  width: auto;
  height: 730px;
  background-image: url("../Assets/uhIdk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.startBodyBg {
  background-color: black;
}

.startBackBtn {
  margin-left: 20px;
  margin-top: 20px;
}

.homePgTitleTxt {
  color: white;
  margin-top: 30px;
  font-size: 500%;
  justify-content: center;
  display: flex;
  background-color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.titlePgTxt {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  justify-content: center;
  display: flex;
}

.buttonsHome {
  justify-content: center;
  display: flex;
  margin-top: 10%;
}

.btn1 {
  justify-content: center;
  display: flex;
}
.btn2 {
  justify-content: center;
  display: flex;
}

.storyTxt {
  color: white;
  justify-content: center;
  display: flex;
  text-align: center;
  margin-top: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.sFormat {
  justify-content: center;
  display: flex;
  margin-top: 50px;
  opacity: 100%;
}
.stryBack {
  background-color: black;
  opacity: 70%;
}
.btnColor1 {
  width: 200px;
  height: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.titlebtnColor1 {
  width: 400px;
  height: 60px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
}
.btnColor2 {
  width: 200px;
  height: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.homePgBtn {
  justify-content: center;
  display: flex;
}

.pg1TitleTxt {
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  justify-content: center;
  display: flex;
  margin-top: 40px;
  background-color: black;
  color: white;
}
.endingStoryBtn {
  justify-content: center;
  display: flex;
  width: 300px;
}
.endingPosition {
  justify-content: center;
  display: flex;
  margin-top: 200px;
}
.endingOneBg {
  background-color: black;
}
.dominosDec {
  background-image: url("../Assets/doms.gif");
}
.cardTxt {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.cardPos {
  justify-content: center;
  display: flex;
  margin-top: 50px;
  margin-bottom: 95px;
}
.cardPos2 {
  justify-content: center;
  display: flex;
  margin-top: 50px;
  margin-bottom: 80px;
}
.hotSauceImage {
  width: 318px;
  height: 300px;
}

.homeBtn {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.pg2Bg {
  background-color: black;
}

.containerBg {
  background-color: white;
  background-image: url("../Assets/tacotruck.jpg");
}

.pg2TitleTxt {
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  justify-content: center;
  display: flex;
  margin-top: 40px;
  background-color: black;
  color: white;
}

.Dec1 {
  width: 100px;
  height: 80px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.Dec2 {
  width: 100px;
  height: 70px;
  margin: auto;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-right: 10%;
  margin-left: 10%;
}
.Dec3 {
  width: 100px;
  height: 80px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* Jovann Classes ------------------------------------------------- */

/* Chris Classes Below ------------------------------------------------- */


body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    
}
.menu-area{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(224,228,231,0.2);
    width: 100%;
    height: 70px;
    z-index: 1;
}
.nav 
{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}
.logo{
    flex: 1 1 auto;
    margin-left: 15%;
    margin-bottom: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 44px;
}
a{
    margin: 15px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{
    color: #000;
}
.home{
    position: relative;
    background-image: url("../Assets/underpasscar.jpeg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
}
.home .content{
    width: 100%;
}
.home .content h1{
    font-size: 90px;
    margin: 10px 0;
    color: #fff;
    text-align: start;
}
.home.content p{
    width: 90%;
    margin: auto;
    line-height: 1.6;
    color: red;
}
#about{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height:100vh;
}
.content{
    width: 90%;
    height: 100%;
    padding: 15% 0;
}
.content h1 {
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
}
.content p{
    font-size: 24px;
    line-height: 50px;
}
btn btn-primary{
    color: red;
}
.button {
    color: white;
    font-size: xx-large;
    background-color:red;
}
.button1 {
    color: white;
    font-size: xx-large;
    background-color:red;
}


/* Chris Classes Above ------------------------------------------------- */

/* Marcel Classes Below ------------------------------------------------- */

@font-face {
    font-family: porterText;
    src: url(../assets/Gowun_Batang/GowunBatang-Regular.ttf);
}

.gohomea{
    text-decoration: none;
}

.gohomebutton{
    background-color: black;
    border: none;
    color: white;
    padding: 20px 100px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    border-radius: 12px;
}

.gohomebutton:hover{
    color: black;
    background-color: white;
}

.codestack{
    height: 100px;
    width: 200px;
    margin-top: 25px;
    margin-left: 60%;
    border-radius: 12px;
}

.dominos{
    height: 150px;
    width: 300px;
    margin-top: 0px;
    margin-left: 10%;
}

.dominospizza{
    height: 100px;
    width: 200px;
    margin-top: 25px;
    margin-left: 60%;
    border-radius: 50%;
}

.dominoswings{
    height: 100px;
    width: 200px;
    margin-top: 25px;
    margin-left: 60%;
    border-radius: 50%;
}

.education{
    height: 150px;
    width: 300px;
    margin-top: 0px;
    margin-left: 10%;
}

.potaro{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.side{
    background-color:black;
    padding: 0%;
    margin: 0%;
}


.textbox{
    background-color:rgba(255, 255, 255, 0.3);
    margin-top: 100px;
}

.testcolumn{
    background-image:url('../assets/Roadtrip2.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
 
    height: 800px;
    padding: 0%;
    margin: 0%;
}

.textone h2{
    text-align: center;
    font-family: porterText;
    color: black;
    opacity: 1;
}

.titleboxcol{
    background-image:url('../assets/SkyNew.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: auto;
    padding: 0%;
    margin: 0%;
}

.titletext{
    font-family: porterText;
    text-align: center;
    top: 50%;
    margin-top: 50px;
}

.topnav{
    background-color:black;
    background-size: cover;
    overflow: hidden;
    padding: 0%;
    margin: 0%;
}

.hometag{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}
/* Chris Classes Below ------------------------------------------------- */

.coffeetxt{
    position: relative;
    background-image: url('../Assets/coffee.jpeg');
    width: 100%;
    height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
}
#about1{
    position: absolute;
    top: -70px;
    left: 800px;
    /* transform: (20%, 300%); */
    /* position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height:100vh; */
}
.content1{
    /* width: 90%; */
    height: 100%;
    /* padding: 15% 0; */
}
.content1 h1 {
    font-size: 99px;
    text-transform: uppercase;
    text-align: absolute;
    font-family: 'Courier New', Courier, monospace;
}
.content1 p{
    font-size: 20px;
    line-height: 50px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
}
.button2 {
    color: white;
    font-size: xx-large;
    background-color:red;
}
.button3 {
    color: white;
    font-size: xx-large;
    background-color: black;
    
}
.text-box
{
    text-align: center;

}


/* Chris Classes Above ------------------------------------------------- */
